doctype html
html
  head
    title TourTron
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", type='img/png' href='img/favicon.png')
  body
    h1 The park camper
    p some text
