doctype html
html(lang="en")
    head
        meta(http-equiv='Content-Security-Policy' content="default-src 'self'; img-src 'self' data: https://unpkg.com https://tile.openstreetmap.org https://c.tile.openstreetmap.org; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://unpkg.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self' ws://127.0.0.1:57698;")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta( http-equiv="Content-Security-Policy" content="connect-src 'self' ws://127.0.0.1:57698")
        meta( http-equiv="Content-Security-Policy" content="connect-src 'self' ws://127.0.0.1:52479")


        title TourTron | #{title}
        link(rel="stylesheet", href="/css/style.css")
        link(rel="shortcut icon", type="image/png", href="img/favicon.png")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        link(rel="stylesheet", href="https://unpkg.com/leaflet/dist/leaflet.css")
        
        block head
    body
        include _header
        block content
        include _footer
        script(src="/js/bundle.js")
