# Dependency directories
node_modules/

# Environment files
.env
config.env

# Cache directories
.cache/

# Ignore all .txt files
*.txt

# Prettier configuration file
.prettierrc

# Development data folder
dev-data/
# # Ignore Vercel configuration files
# vercel.json
.vercel