# Dependency directories
node_modules/

# Environment files
.env
config.env


.cache/

# Ignore all .txt files
*.txt

# Prettier configuration file
.prettierrc

# Development data folder
dev-data/
.vercel
